[submodule "contracts/solidity/lib/openzeppelin-contracts"]
	path = contracts/solidity/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/solidity/lib/v4-core"]
	path = contracts/solidity/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "contracts/solidity/lib/v4-periphery"]
	path = contracts/solidity/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
